/* Saroj Chaudhary*/

* {
	box-sizing: border-box;
	border: 200px;
	background-color:azure;
	position: relative;
	margin:10%;
}

.column {
	float: left;
	width: 10%;
	padding: 10px;
	margin-left: 25px;
	margin-top: 10px;
}

.row::after {
	content:normal;
	display:flex;
	clear: both;
}
@media screen and (max-width:600px) {
    .column{
		display: inline;
		padding: 0px;
		margin: 20px;
		margin-left: 100px;
		margin-right: 0px;
		width: 60%;
		float: inline-start;
	}
